# 집합 (Set)

In [ ]:
s1=set([1,2,3])         # list
s1
s2={10,20,30,10}        # 순서가 없어서 같은값은 한번만 들어간다.
s2
s3=set("hello")         # 문자열
s3
s4=set((1,2,3))         # 튜플
s4

{1, 2, 3}

합집합, 교집합, 차집합

In [13]:
a={1,2,3,4}
b={3,4,5,6}

In [14]:
print(a | b)
print(a & b)
print(a-b)
print(b-a)

print(a.union (b))
print(a.intersection (b))
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}

In [15]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [ ]:
a.remove(1)     # 집합은 del은 없다
a

{2, 3, 4, 5}

In [ ]:
a.update([7,8,9])       # 한번에 넣기
a

{2, 3, 4, 5, 7, 8, 9}

list        기본 자료형, 복수계 자료
tuple       요솟값 수정이 안되는 자료형 (DB에서 자료저장시 DB에서 자료 읽어올때)
dictionary  
set         중복값이 필요없을때

# bool 자료형

In [22]:
if [1.3]:
    print("aaa")
else:
    print("bbb")

aaa

In [21]:
if '' :
    print("참")
else:
    print("거짓")

거짓

In [25]:
if 0:
    print("참")
else:
    print('거짓')

거짓

# 변수, 자료형

In [28]:
a=1
b='Python'
c=[1,2,3]
d=(1,2,3)
e={'name':'홍길동','age':20,'gender':'M'}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
print(id(a))        # id()함수 주소를 알려주는 것
print(id(b))
print(id(c))
print(id(d))
print(id(c[0]))

140729431959992
140729431044720
2874832154944
2874832225920
140729431959992

In [31]:
a=[1,2,3]
b=a

In [32]:
print(id(a))
print(id(b))

2874817909952
2874817909952

In [ ]:
a is b      # 주소가 같다.

True

In [34]:
a[1]=4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [ ]:
print(a)
c=a[:]      # 새로운 주소를 만든다.
print(c)
print(id(a))
print(id(c))
a[1]=5
print(a)
print(c)

[1, 4, 3]
[1, 4, 3]
2874817909952
2874831907072
[1, 5, 3]
[1, 4, 3]

In [ ]:
from copy import copy
d=copy(a)       # 리스트를 새로 만듬
a is d


# 자료 구조 정리
list
변수=[요소1, 요소2,...]

tuple
변수=(요소1, 요소2,...)

dictionanly(dict)
변수={키1:밸류1, 키2:밸루2,...}

set
변수={요소1, 요소2,...}